<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :名前（全角） %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :フリカナ（全角カタカナ） %>
    <%= form.text_field :name_reading %>
  </div>

  <div class="field">
    <%= form.label :ニックネーム（半角英数） %>
    <%= form.text_field :nickname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
