= render './error_messages', model: @donation

.field
  = form.label :name, "名前（全角）"
  = form.text_field :name
.field
  = form.label :name_reading, "フリカナ（全角カタカナ）"
  = form.text_field :name_reading
.field
  = form.label :nickname, "ニックネーム（半角英数）"
  = form.text_field :nickname