%p#notice= notice
%p
  %strong 名前:
  = @user.name
%p
  %strong フリガナ
  = @user.name_reading
%p
  %strong ニックネーム:
  = @user.nickname
= link_to '編集する', edit_user_path(@user)

= link_to 'Topページへ戻る', users_path
